html{
	font-size : 62.5%;
	-ms-text-size-adjust: 100%; 
  	-webkit-text-size-adjust: 100%;
}
body{
	font-family: serif;
	background-color: rgb(230,230,230);
}

.top-header{
	height : 5rem;
	background-color : #ffffff;
	position : fixed;
	left : 0;right : 0;
	display : block;
	z-index : 2;
}
.top-header i{
	display: inline-block;
	min-width : 5rem;
	height : 100%;
	background-image : url("../images/logo.jpg");
	background-repeat: no-repeat;
	visibility : hidden;
}
.top-header nav{
	height : 100%;
	font-size : 0;
	display: inline-block;
	vertical-align: bottom;
	position : absolute;
	white-space : nowrap;
	right : 20px;
}
.top-header  nav a{
	display : inline-block;
	padding: 0 .4rem; 
	border-top-left-radius : .4rem;
	border-top-right-radius : .4rem;
	min-width : 8rem;
	text-align: center;
	/*padding-right : .5rem;*/
	font-size :2.5rem;
	font-family : Microsoft Yahei;
	line-height : 5rem;
	transition : all .4s ease-in-out;
	text-decoration: none;
	color : #000000;
	font-weight : bold;
}
.top-header nav a:first-child{

}
.active{
	background-color: #8af2f2;
}
.top-header a:link, .top-header a:visited{}
.top-header a:hover, .top-header a:active{
	background-color: #d3d3d3;
	opacity: .7;
}
.container{
	position : relative;
	top : 5rem;
}
.main-page{
	width : 50%;
	margin : 0 auto;
}
.main-page header{
	font-size : 3rem;
	border-bottom : .2rem solid #3d3d3d;
	font-family : Microsoft Yahei;
	white-space: normal;
	word-break: break-all; 
	padding-top : 20px;
}
.tips{
	font-size : 2rem;
	text-align : right;
	font-family : Microsoft Yahei;
	padding-bottom : 20px;
}
.main-page  section{
	font-family: Microsoft Yahei;
	font-size : 1.8rem;
	line-height : 3rem;
	padding : 2rem 2rem 0 2rem;
	white-space: normal;
	word-break: break-all; 
}
.main-page section:first-letter{
	float : left;
	font-size : 3.6rem;
	vertical-align: top;	
}
.main-page footer{
	margin-top : 2rem;
	border-top : .2rem solid #3d3d3d;
}
footer div{
	font-family : Microsoft Yahei;
}
.bottom-footer{
	position : relative;
	top : 5rem;
}
.wel{
	position: absolute;
	bottom : 0;
	width : 100%;
	text-align : center;
}
::selection{
	background-color : red;
	color : #ffffff;
}
.note-list{
	list-style-type : none;
}
.note-list li{}
.node-list a{
	display : block;
	text-align : center;
	text-decoration : none;
	color : #000000;
	transition: all .5s ease-in-out;
}
.node-list a:link, .node-list a:visited{
}
.node-list a:hover, node-list a:active{
	color : #ffffff;
	background-color : #ff0000;
}
.page-404{
	text-align :center;
	font-size : 4rem;
}
.bg{
	max-width: 100%;
}
.note-list{
	text-align : center;
}
.note-list li{

}
.note-list a{
	display: inline-block;
  text-decoration : none;
  box-sizing: border-box;
  color : #156A86;
  font-weight : bolder;
  font-size : 20px;
  line-height : 50px;
  text-align : center;
  min-width : 200px;
  min-height : 50px;
  transition : all .3s ease-in-out;
}
.note-list a:link, .note-list a:visited{

}
.note-list a:hover, .note-list a:active{
	background-color : #ff0000;
    color : #ffffff;
    box-shadow: 4px 4px 4px #aaaaaa;
    border-top-right-radius: 4px; 
}