.re-wrap{
	width : 70%;
	padding : 2rem;
	margin-left: auto;
	margin-right: auto;
	min-width : 450px;
}
#name{
	font-size : 3rem;
}
.sec{
	width : 100%;
	min-height : 64px;
	overflow: hidden;
	font-family: sans-serif;
	border : .2rem solid #d3d3d3;
	color : #555555;
	padding : 1rem;
	margin-bottom : 2rem;
	border-radius : .8rem;
	box-shadow: .4rem .4rem .4rem #aaaaaa;
	background-color: rgba(255,255,255,.1);
}
.sec-tit{
	border-bottom : .1rem solid #3d3d3d;
	word-break: break-all;
	font-size : 2rem;
	font-weight : bolder;
}
.sec-main{
	font-size : 1rem;
}
.sec .sec-item:first-of-type{
	margin-top : 2rem;
}
.sec-item{
	padding-top : 1rem;
}