.re-wrap{
	width : 100%;
}
.sec{
	overflow: hidden;
	font-family: sans-serif;
	border : .2rem solid #d3d3d3;
	color : #555555;
	padding : 1rem  .2rem;
	border-radius : 2rem;
	box-shadow: .4rem .4rem .4rem #aaaaaa;
	background-color: rgba(100,100,100,.5);
}
.sec-tit{
	border-bottom : .1rem solid #3d3d3d;
	word-break: break-all;
	font-size : 2rem;
}
.sec-main{
	font-size : 1rem;
}
.sec-item{
	padding-top : .5rem;
}