<!DOCTYPE html>
<html>
<head>
	<title>{{ page.title }}</title>
	<link rel = "stylesheet" href = "/css/article.css"/>
	<link rel = "stylesheet" href = "/css/normalize.css"/>
	<link rel = "stylesheet" href = "/css/more.css"/>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
</head>
<body>
	<header class = "top-header" id = "top">
		<i class = "logo"></i>
		<nav>
			<a class = "active" href = "/">Home</a>
			<a href = "/pub/list.html">Notes</a>
			<a href = "/pub/more.html">About Me</a>
		</nav>
	</header>
	<div class = "container">
		{{content}}
	</div>
	<footer class = "bottom-footer">
		<div class = "wel">Welcome to Fanhehe.cn</div>
	</footer>
</body>
</html>